# backend spring config
backend/src/main/resources/application.properties
backend/src/main/resources/application-local.properties
backend/src/main/resources/application-prod.properties
backend/src/main/resources/application-*.yml

# DB Settings
ojdbc10.jar
Wallet_parfaitReport/
